@media (prefers-color-scheme: dark) {
    :root {
        background-color: black;
        color: white;
    }
}

.color-blue {
    color: blue;
}

.color-yellow {
    color: yellow;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

#corpus {
    display: none;
}