@media (prefers-color-scheme: dark) {
    :root {
        background-color: black;
        color: white;
    }
}
.hex-readable {
    color: green;
}

.hex-unreadable {
    color: red;
}

.hex-ff {
    color: blue;
}

#corpus {
    display: none;
}