:root {
    background: white;
    color: black;
}

.highlight .color-blue {
    color: blue;
}

.highlight .color-yellow {
    color: #880;
}

.highlight .color-green {
    color: green;
}

.highlight .color-red {
    color: red;
}

.highlight .color-white {
    color: black;
}

#corpus {
    display: none;
}

.game-won {
    background: green;
}

.highlight.game-won .color-green {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: black;
        color: white;
    }

    .highlight .color-white {
        color: white;
    }

    .highlight .color-yellow {
        color: yellow;
    }
}
